@font-face {
    font-family: 'Spider';
    src: url(../../../fontes/Spider-Man.otf);
}

.characters-cards-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 20px;
    background-color: #000;
}

.cards-content {
    width: 90%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    row-gap: 20px;
    column-gap: 40px;
}

.card {
    width: 100%;
    height: 450px;
    background-size: cover;
    background-position: 50% 50%;
    border-radius: 5px;
    cursor: pointer;
    transition: 1s;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    padding: 0 0 20px 10px;
    color: #fff;
    font-size: 28px;
    font-family: 'Spider', sans-serif;
}

.card:hover {
    transform: scale(1.02);
    color: red;
}

.banner-1 {
    background-image: url(../../assets/BestPeterParker.jpg);
}

.banner-2 {
    background-image: url(../../assets/BestMJ.webp)
}

.banner-3 {
    background-image: url(../../assets/BestOttoOctavius.png);
}

@media(max-width: 768px){
    .cards-content {
        grid-template-columns: 1fr;
        margin-top: 150px;
    }
}